{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<title>jQuery UI Signature Basics</title>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/south-street/jquery-ui.css" rel="stylesheet">
<link href="{% static 'signme/css/jquery.signature.css' %}" rel="stylesheet">
<style>
.kbw-signature { width: 400px; height: 200px; }
</style>
<!--[if IE]>
<script src="excanvas.js"></script>
<![endif]-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="{% static 'signme/js/jquery.signature.js' %}"></script>
<script>

$(function() {
	var sig = $('#sig').signature();
	$('#disable').click(function() {
		var disable = $(this).text() === 'Disable';
		$(this).text(disable ? 'Enable' : 'Disable');
		sig.signature(disable ? 'disable' : 'enable');
	});
	$('#clear').click(function() {
		sig.signature('clear');
	});
	$('#json').click(function() {
		alert(sig.signature('toJSON'));
	});
	$('#svg').click(function() {
		alert(sig.signature('toSVG'));
	});
});
</script>
</head>
<body>
<h1>jQuery UI Signature</h1>

<img src="media/{{loc}}" alt="">

<br>
    <form id="myForm" method="post">
      {% csrf_token %}
      <label for="username">Enter Your Name</label>
      <input type="text" name="username" id="username" value=""><br><br>
        <div id="sig"></div><br>
        <p style="clear: both;">
          <button type="button" id="disable">Disable</button>
          <button type="button" id="clear">Clear</button>
          <button type="button" id="json">To JSON</button>
          <button type="button" id="svg">To SVG</button>
        </p>

          <br><br>
          <button type="button" name="button" onclick="save()">Save</button>
          <input type="hidden"  name='canva' id="my_hidden">
    </form>


    <script type="text/javascript">

    function save(){
      var sig = document.getElementById('sig');
      var canvas = sig.getElementsByTagName("canvas")[0];
      var img    = canvas.toDataURL("image/png");
      document.getElementById('my_hidden').value = img;

      if (document.getElementById('username').value=="")
      {
        alert("Please Enter You Name");
      }
      else{
      document.forms["myForm"].submit();
      }
    }
    </script>
</body>
</html>
